span /* Aplica color y tamaño al texto de las etiquetas span */
{
	color: white;
	font-size: 30pt;
}

p
{
	font-family: Courier;
}

button /* Aplica color de fondo a las etiquetas button */
{
	background-color: orange;
}

.TituloMarcador /* Aplica ancho y texto centrado a la clase TituloMarcador */
{
	text-align: center;
	width: 150pt;

}

.Marcador /* Aplica sobre la clase Marcador color de fondo, alinea el texto dentro del div a la derecha 
y le da anchura*/
{
	background-color: yellow;
	text-align: right;
	width: 150pt;
	color: grey;
}

.Imagen  /*Da tamaño a las imágenes */
{
	 width: 70px;
	 height: 70px;
}

#principal /*Da tamaño a la imagen de cabecera */
{
	width: 100px;
	height: 100px;
}

#acerca /*para poner un cuadro alrededor del texto y que éste esté centrado */
{
	border: black 2px solid;
	text-align: center;
	width: 900pt;
	height: 400pt;
	margin: 20pt;
}

#general /* Aplica color de fondo y anchura. Se utiliza el id en lugar de la etiqueta div porque hay
otro div en Acerca.html al que no quiero aplicar este color*/
{
	background-color: green;
}
